h1 {
  font-size: 2.625rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.7; }

h2 {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  margin-left: 41px; }

h3 {
  font-weight: 700;
  font-size: 1.375rem;
  float: left;
  margin-left: 18px;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
    text-align: center; }

  h2 {
    font-size: 0.875rem;
    text-align: center;
    margin-left: 0; } }
.banner {
  position: relative; }
  .banner .title {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translate(0, -40%);
    z-index: 50; }

@media (max-width: 576px) {
  .banner .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; } }
.menu {
  padding: 3px 5%;
  background-color: #f7fbfd;
  position: relative;
  box-shadow: 0px 1px 12px 0px rgba(0, 29, 51, 0.2); }
  .menu .logo {
    width: 150px;
    height: 60px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat; }
  .menu .navbar {
    float: left;
    width: 100%;
    margin-left: 20px; }
    .menu .navbar .navbar-toggler {
      width: 47px;
      height: 34px;
      border: none;
      outline: none;
      margin: 0;
      padding: 13px 0;
      transition: all 0.3s;
      position: absolute;
      top: 30px;
      right: 0; }
      .menu .navbar .navbar-toggler .line {
        width: 60%;
        float: right;
        height: 2px;
        background-color: #001d33;
        margin-bottom: 5px; }
    .menu .navbar .navbar-collapse {
      flex-basis: auto; }
      .menu .navbar .navbar-collapse .navbar-nav {
        width: 100%;
        margin-top: 18px; }
        .menu .navbar .navbar-collapse .navbar-nav a {
          color: #001d33;
          font-size: 0.9375rem;
          font-weight: 700;
          cursor: pointer;
          margin: 18px 15px 2px 5px; }
          .menu .navbar .navbar-collapse .navbar-nav a:active, .menu .navbar .navbar-collapse .navbar-nav a:hover {
            color: #2e82c4;
            text-decoration: none; }
      .menu .navbar .navbar-collapse .phone {
        margin-top: 20px;
        margin-bottom: 10px;
        position: absolute;
        right: 25px; }
        .menu .navbar .navbar-collapse .phone p {
          font-size: 0.875rem; }
        .menu .navbar .navbar-collapse .phone i {
          color: #60a0d2;
          font-size: 0.875rem;
          display: inline;
          margin-right: 3px; }
        .menu .navbar .navbar-collapse .phone a {
          display: block;
          color: #001d33;
          font-weight: 700;
          margin-left: 19px;
          font-size: 1.125rem;
          text-decoration: none;
          cursor: pointer; }
          .menu .navbar .navbar-collapse .phone a:active, .menu .navbar .navbar-collapse .phone a:hover {
            color: #2e82c4;
            text-decoration: none; }

@media (max-width: 992px) {
  .menu {
    padding-bottom: 5px; }
    .menu .logo {
      margin-top: 5px; }
    .menu .navbar .navbar-toggler {
      top: 15px; }
    .menu .navbar .navbar-collapse {
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 100;
      width: 220px;
      height: 250px;
      background-color: #001d33;
      padding: 15px;
      border-radius: 5px; }
      .menu .navbar .navbar-collapse .navbar-nav {
        margin-top: 0; }
        .menu .navbar .navbar-collapse .navbar-nav a {
          color: #ffffff;
          border-bottom: 1px solid #ffffff;
          display: block; }
      .menu .navbar .navbar-collapse .phone {
        margin-top: 10px; }
        .menu .navbar .navbar-collapse .phone p, .menu .navbar .navbar-collapse .phone i, .menu .navbar .navbar-collapse .phone a {
          color: #ffffff; } }
.carousel {
  box-shadow: 0px 1px 12px 0px rgba(0, 29, 51, 0.2); }
  .carousel .lni-chevron-right {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-right: -80px; }
  .carousel .carousel-control-prev:focus, .carousel .carousel-control-next:focus {
    opacity: 0.5; }
  .carousel .carousel-control-prev:active, .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:active, .carousel .carousel-control-next:hover {
    opacity: 0.9; }
  .carousel .lni-chevron-left {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-left: -80px; }

@media (max-width: 992px) {
  .carousel .lni-chevron-right {
    margin-right: -40px; }
  .carousel .lni-chevron-left {
    margin-left: -40px; } }
@media (max-width: 576px) {
  .carousel .lni-chevron-right {
    padding: 5px;
    margin-right: 0; }
  .carousel .lni-chevron-left {
    padding: 5px;
    margin-left: 0; } }
.boxes {
  padding: 69px 5% 34px;
  background-color: #f7fbfd;
  box-shadow: 0px 1px 12px 0px rgba(0, 29, 51, 0.1); }
  .boxes .box {
    box-shadow: 0px 1px 12px 0px rgba(0, 29, 51, 0.1); }
  .boxes .box-header {
    background: #ffffff;
    height: 80px; }
    .boxes .box-header img {
      float: right;
      width: 63px;
      margin-right: 18px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .boxes .box-links {
    height: 332px;
    margin-bottom: 31px;
    background-size: cover; }
    .boxes .box-links ul {
      padding: 15px 25px; }
      .boxes .box-links ul li {
        list-style-type: none;
        padding-bottom: 5px; }
        .boxes .box-links ul li a {
          color: #ffffff;
          font-weight: 700;
          font-size: 0.9375rem;
          text-decoration: none;
          cursor: pointer; }
          .boxes .box-links ul li a:active, .boxes .box-links ul li a:hover {
            opacity: 0.8; }

@media (max-width: 576px) {
  .boxes {
    padding-top: 34px; } }
.footer {
  background-color: #15466b;
  padding: 28px 5% 19px;
  box-shadow: 0px 1px 12px 0px rgba(0, 29, 51, 0.2); }
  .footer p {
    float: right;
    color: #ffffff;
    font-size: 0.875rem; }
    .footer p b {
      color: #ffffff;
      font-size: 0.875rem; }
  .footer .footer-phone {
    float: left; }
    .footer .footer-phone i {
      color: #ffffff;
      margin-right: 3px;
      font-size: 0.875rem; }
    .footer .footer-phone a {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer; }
      .footer .footer-phone a:active, .footer .footer-phone a:hover {
        opacity: 0.8; }

@media (max-width: 576px) {
  .footer p {
    float: none;
    text-align: center; }
  .footer .footer-phone {
    float: none;
    text-align: center;
    margin-bottom: 10px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #001d33;
  font-size: 15px;
  font-weight: 400; }

body {
  background-color: #e1edf2;
  margin: 74px auto 173px; }

/*# sourceMappingURL=main.css.map */
