// boxes
.boxes {
  padding: 69px 5% 34px;
  background-color: $body_bg;
  box-shadow: 0px 1px 12px 0px rgba(0,29,51,0.1);
  .box {
    box-shadow: 0px 1px 12px 0px rgba(0,29,51,0.1);
  }
  .box-header {
    background: $second_color;
    height: 80px;
    img {
      float: right;
      width: 63px;
      margin-right: 18px;
      @include vertical-align();
    }
  } 
  .box-links {
    height: 332px;
    margin-bottom: 31px;
    background-size: cover; 
    ul {
      padding: 15px 25px;
      li {
        list-style-type: none;
        padding-bottom: 5px;
        a {
          color: $second_color;
          font-weight: $bold;
          @include font-px-convert(15);
          text-decoration: none;
          cursor: pointer;
          &:active, &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@include mobile {
  .boxes {
    padding-top: 34px;
  }
}