// carousel
.carousel {
  box-shadow: 0px 1px 12px 0px rgba(0,29,51,0.2);
  .lni-chevron-right {
    background-color: $second_color;
    padding: 10px;
    border-radius: 5px;
    margin-right: -80px;
  }
  .carousel-control-prev, .carousel-control-next {
    &:focus {
      opacity: 0.5;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    &:active, &:hover {
      opacity: 0.9;
    }
  }
  .lni-chevron-left {
    background-color: $second_color;
    padding: 10px;
    border-radius: 5px;
    margin-left: -80px;
  }
}

@include tablet {
  .carousel {
    .lni-chevron-right {
      margin-right: -40px; 
    }
    .lni-chevron-left {
      margin-left: -40px;
    }
  }  
}

@include mobile {
  .carousel {
    .lni-chevron-right {
      padding: 5px;
      margin-right: 0;
    }
    .lni-chevron-left {
      padding: 5px;
      margin-left: 0;
    }
  }  
}