// footer
.footer {
  background-color: $blue_bg;
  padding: 28px 5% 19px;
  box-shadow: 0px 1px 12px 0px rgba(0,29,51,0.2);
  p {
    float: right;
    color: $second_color;
    @include font-px-convert(14);
    b {
      color: $second_color;
      @include font-px-convert(14);
    }
  }
  .footer-phone {
    float: left;
    i {
      color: $second_color;
      margin-right: 3px;
      @include font-px-convert(14);
    }
    a {
      color: $second_color;
      @include font-px-convert(16);
      font-weight: $bold;
      text-decoration: none;
      cursor: pointer;
      &:active, &:hover { 
        opacity: 0.8;
      }
    }
  } 
}

@include mobile {
  .footer {
    p {
      float: none;
      text-align: center;
    }
    .footer-phone {
      float: none;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}