// header
.banner {
  position: relative;
  .title {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translate(0, -40%);
    z-index: 50;
  }
}

@include mobile {
  .banner {
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }
  }
}