// menu
.menu {
  padding: 3px 5%;
  background-color: $body_bg;
  position: relative;
  box-shadow: 0px 1px 12px 0px rgba(0,29,51,0.2);
  .logo {
    width: 150px;
    height: 60px; 
    margin-top: 6px;
    margin-bottom: 6px;
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat; 
   
  }
  .navbar {
    float: left;
    width: 100%;
    margin-left: 20px;
    .navbar-toggler {
      width: 47px;
      height: 34px;
      border: none; 
      outline: none;
      margin: 0;
      padding: 13px 0;
      transition: all 0.3s;
      position: absolute;
      top: 30px;
      right: 0;
      .line {
        width: 60%;
        float: right;
        height: 2px;
        background-color: $main_text_color;
        margin-bottom: 5px; 
      }        
    }
    .navbar-collapse {
      flex-basis: auto;
      .navbar-nav {
        width: 100%;
        margin-top: 18px;
        a {
          color: $main_text_color;
          @include font-px-convert(15);
          font-weight: $bold;
          cursor: pointer;
          margin: 18px 15px 2px 5px; 
          &:active, &:hover {
            color: $hover_color;
            text-decoration: none;
          }
        }
      }  
      .phone {
        margin-top: 20px;
        margin-bottom: 10px;
        position: absolute;
        right: 25px;
        p {
          @include font-px-convert(14);
        }
        i {
          color: $icon_color;
          @include font-px-convert(14);
          display: inline;
          margin-right: 3px;
        }
        a {
          display: block;
          color: $main_text_color;
          font-weight: $bold;
          margin-left: 19px;
          @include font-px-convert(18);
          text-decoration: none;
          cursor: pointer;
          &:active, &:hover {
            color: $hover_color;
            text-decoration: none;
          }
        }
      }   
    }
  }
}

@include tablet {
  .menu {
    padding-bottom: 5px;
    .logo {
      margin-top: 5px; 
    }
    .navbar {
      .navbar-toggler {
        top: 15px;    
      }
      .navbar-collapse {
        position: absolute;
        top: 55px; 
        right: 0;
        z-index: 100;
        width: 220px;
        height: 250px;
        background-color: $main_text_color;
        padding: 15px; 
        border-radius: 5px;
        .navbar-nav {
          margin-top: 0;
          a { 
            color: $second_color;
            border-bottom: 1px solid $second_color;
            display: block;  
          } 
        }  
        .phone {
          margin-top: 10px;
          p, i, a { 
            color: $second_color; 
          }
        }   
      }
    }
  }
}