// mixins
@mixin main {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: $main_font;
		color: $main_text_color;
    font-size: $main_font_size;
    font-weight: $regular;
	}
}

@mixin clearfix {
	&:before, &:after {
    content: "";
    display: table;
	}
	&:after {
    clear: both;
	}
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin font-px-convert($px) {
  font-size: ($px / 16) + rem;
}

@mixin tablet {
	@media (max-width: #{$tablet_width}){
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile_width}){
		@content;
	}
}