// typography
h1 {
  @include font-px-convert(42);
  color: $second_color;
  font-weight: $bold;
  line-height: 1.7;
}
h2 {
  @include font-px-convert(16);
  color: $second_color;
  font-weight: $bold;
  margin-left: 41px;
}
h3 {
  font-weight: $bold;
  @include font-px-convert(22);
  float: left;
  margin-left: 18px;
  margin-bottom: 0;
  @include vertical-align();
}

@include mobile {
  h1 {
    @include font-px-convert(32);
    text-align: center; 
  }
  h2 {
    @include font-px-convert(14);
    text-align: center;
    margin-left: 0; 
  }
}