//main font
$main_font: 'Quicksand', sans-serif;
$main_font_size: 15px;

//font-weight
$regular: 400;
$bold: 700;

//colors
$main_text_color: #001d33;
$body_bg: #f7fbfd;
$blue_bg: #15466b;
$second_color: #ffffff;
$icon_color: #60a0d2;
$hover_color: #2e82c4;
$html_bg: #e1edf2;

//media
$tablet_width: 992px;
$mobile_width: 576px;