
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'header';
@import 'menu';
@import 'carousel';
@import 'boxes';
@import 'footer';


@include main;

body {
  background-color: $html_bg;
  margin: 74px auto 173px;
}